<!DOCTYPE html>
<html lang="en">
<head>
    <title>Violation System</title>
    <link rel="stylesheet" href="/stylesheets/ControlStyle.css"/>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div id="nav">
    <section class="nav_menu" id="navsec">
        <a href="http://localhost:3000/violations_home">View Violations</a>
        <a href="http://localhost:3000/violations_weekly">View Report</a>
        <a href="http://localhost:3000/control_access" class="nav_page">Control Access</a>
        <a href="http://localhost:3000/logout">Logout</a>
    </section>
</div>

</body>
</html>