<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/LoginStyle.css"/>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div>
    <h1 id="pageText">Mask and Fever <br>Violation System</h1>
</div>

<div class="loginBox">
    <div class="loginInfo">
        <form action="http://localhost:3000/login" method="post">
            <label id="uname"><b>Email</b></label><br>
            <label>
                <input type="text" placeholder="Enter Email" name="email" required>
            </label>

            <label id="psw"><b>Password</b></label><br>
            <label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </label>

            <button type="submit">Login</button>
        </form>
    </div>
    <div class="helpBox">
        <a href="register">Create Account</a>
        <p>
            <i>*Please note that new users will need to be approved before able to login*</i>
        </p>
    </div>
    <br>
</div>

<div>
    <h2 id="errorText"><%= errorMsg %></h2>
</div>
</body>
</html>