<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/LoginStyle.css"/>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div>
    <h1 id="pageText">Mask and Fever <br>Violation System</h1>
</div>

<div class="loginBox">
    <div class="loginInfo">
        <label id="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label id="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </div>
    <div class="helpBox">
        <a href="register">Create Account</a>
        <p>
            <i>*Please note that new users will need to be approved before able to login*</i>
        </p>
    </div>
    <br>
</div>
</body>
</html>