<!DOCTYPE html>
<html lang="en">
<head>
    <title>Violation System</title>
    <link rel="stylesheet" href="/stylesheets/NewAccountStyle.css"/>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div>
    <h1 id="pageText">Mask and Fever <br>Violation System</h1>
</div>

<div class="InfoBox">
    <div class="UserInfo">
        <form action="http://localhost:3000/register" method="post">
            <label id="name"><b>Name</b></label><br>
            <label>
                <input id="nameInput" type="text" autocomplete="off" placeholder="Enter Name" name="name" required>
            </label><br>

            <label id="email"><b>Email</b></label><br>
            <label>
                <input id="emailInput" type="text" autocomplete="off" placeholder="Enter Email" name="email" required>
            </label><br>

            <label id="password"><b>Password</b></label><br>
            <label>
                <input id="password1Input" type="password" placeholder="Enter Password" name="password" required>
            </label><br>

            <label id="password2"><b>Retype Password</b></label><br>
            <label>
                <input id="password2Input" type="password" placeholder="Re-Enter Password" name="password2" required>
            </label><br>

            <button id="registerButton" type="Enter">Register</button>
        </form>
    </div>
    <br>
</div>

<script type="text/javascript">
    var error = '<%= error %>';
    if(error) alert(error);
</script>

</body>
</html>