<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/NewAccountStyle.css"/>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div>
    <h1 id="pageText">Mask and Fever <br>Violation System</h1>
</div>

<div class="InfoBox">
    <div class="UserInfo">
        <form action="http://localhost:3000/register" method="post">
            <label id="firstname"><b>Firstname</b></label><br>
            <label>
                <input type="text" placeholder="Enter Firstname" name="fname" required>
            </label><br>

            <label id="lastname"><b>Lastname</b></label><br>
            <label>
                <input type="text" placeholder="Enter Lastname" name="lname" required>
            </label><br>

            <label id="email"><b>Email</b></label><br>
            <label>
                <input type="text" placeholder="Enter Email" name="email" required>
            </label><br>

            <label id="username"><b>Username</b></label><br>
            <label>
                <input type="text" placeholder="Enter Username" name="uname" required>
            </label><br>

            <label id="password"><b>Password</b></label><br>
            <label>
                <input type="text" placeholder="Enter Password" name="psw" required>
            </label><br>

            <label id="retypepass"><b>Retype Password</b></label><br>
            <label>
                <input type="text" placeholder="Re-Enter Password" name="repsw" required>
            </label><br>

            <button type="Enter">Register</button>
        </form>
    </div>
    <br>
</div>

</body>
</html>