<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/WeeklyStyle.css"/>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div id="nav">
    <section class="nav_menu" id="navsec">
        <a href="violations_home" >View Violations</a>
        <a href="violations_weekly" class="nav_page">View Report</a>
        <a href="control_access">Control Access</a>
        <a>Logout</a>
    </section>
</div>

</body>
</html>