/* generic styling for all pages */
body {
    /* font-family: Roboto-Slab, serif; */
    font-family: Roboto,"Franklin Gothic Medium",Tahoma,sans-serif;
    font-weight: lighter !important;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

/* move or remove */
.active, .collapsible:hover {
    background-color: #ccc;
}

.PSU {
    padding: 20px;
    background-image: linear-gradient(to right, #041E42 , #083676);
    color: white;
}

#psuShield {
    padding-right: 20px;
}

#psuText {
    font-size: 30px;
}

#pageText {
    font-size: 30px;
    color: #041E42;
    /* font-family: Roboto-Slab, serif; */
    font-family: Roboto,"Franklin Gothic Medium",Tahoma,sans-serif;
    font-weight: lighter !important;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding: 20px;
}


/* registration and login */
.InfoBox {
    border-radius: 25px;
    border-bottom: 10px solid #041E42;
    border-top: 10px solid #041E42;
    border-right: 10px solid #041E42;
    border-left: 10px solid #041E42;
    background: white;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.UserInfo {
    padding-bottom: 20px;
    padding-top: 10px;
}

.helpBox {
    border-radius: 10px;
    border-bottom: 4px solid #041E42;
    border-top: 4px solid #041E42;
    border-right: 4px solid #041E42;
    border-left: 4px solid #041E42;
    background: white;
    text-align: center;
}


/* navigation bar */
#navsec {
    background-color: #041E42;
    border-style: solid;
    border-color: white;
}

.nav_menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-image: linear-gradient(to right, #041E42 , #083676);
    text-decoration: none;
    padding: 12px;
}

.nav_menu a {
    display: block;
    /* font-family: Roboto-Slab, serif; */
    font-family: Roboto,"Franklin Gothic Medium",Tahoma,sans-serif;
    font-weight: lighter !important;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    color: darkgray;
    text-align: center;
    padding: 8px;
    font-size: large;
    text-decoration: none;
}

.nav_menu a:hover {
    background-color: white;
    color: #041E42;
    transition-duration: 0.2s
}

.nav_menu a.nav_page {
    background-color: white;
    color: #041E42;
}

.nav_items:hover {
    background-color: white;
}


/* items for violations_home and violations_weekly content */
.noticeText {
    font-size: 20px;
    color: #041E42;
    /* font-family: Roboto-Slab, serif; */
    font-family: Roboto,"Franklin Gothic Medium",Tahoma,sans-serif;
    font-weight: lighter !important;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding: 5px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
}
  
.Wrapper {
    position: absolute;
    width: 100%;
    height: 75%;
}
  
.Wrapper>div {
    height: 90%;
    margin: 5px;
}

.LeftContent {
    background-color: white;
    overflow: auto;
    border: 10px solid #041E42;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2), 0 2px 9px 0 rgba(0,0,0,0.19);
}

.LeftContent::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.RightContent {
    background-color: white;
    float: right;
    width: 48%;
    text-align: center;
    border: 10px solid #041E42;
    border-radius: 25px;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2), 0 2px 9px 0 rgba(0,0,0,0.19);
}

.RightContent>p {
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-image: linear-gradient(to right, #041E42 , #083676);
    color: white;
}

.RightContent>img {
    max-height:75%;
    max-width:50%;
    height:auto;
    width:auto;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2), 0 2px 9px 0 rgba(0,0,0,0.19);
}

body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.deleteBtn {
    transition-delay: 0ms;
}

.deleteBtn:hover {
    color: red;
}

.btn {
    background-color: lightgray;
    color: darkgray;
    /* font-family: Roboto-Slab, serif; */
    font-family: Roboto,"Franklin Gothic Medium",Tahoma,sans-serif;
    font-weight: lighter !important;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 40px;
    margin: 5px;
    grid-auto-rows: auto;
    display: grid;
    width: 98.7%;
    border: 2px solid white;
    border-radius: 10px;
}

.btn:hover, .btn:focus {
    /* background-color: #275da4; */
    background-image: linear-gradient(to right, #225392 , #225392);;
    color: white;
}

.header {
    display: grid;
    grid-auto-rows: auto;
}


/* dropdown menu */
.dropdown {
    position: absolute;
    display: inline-block;
    margin: 10px;
}