body {
    font-family: Roboto-Slab, serif;
    margin: 0;
}

#container {
    gap: 5px;
    background-color: white;
    padding: 40px;
    width: 100%;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
}

.PSU {
    padding: 20px;
    background: #041E42;
    color: white;
}

#psuShield {
    padding-right: 20px;
}
#psuText {
    font-size: 30px;
}
#pageText {
    font-size: 30px;
    color: #041E42;
    font-family: Roboto-Slab, serif;
    text-align: center;
    padding: 20px;
}

#navsec {
    background-color: #041E42;
    border-style: solid;
    border-color: white;
}

.nav_menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #041E42;
    text-decoration: none;
    padding: 12px;
}

.nav_menu a {
    display: block;
    font-family: Roboto-Slab, serif;
    background-color: #041E42;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: large;
    text-decoration: none;
}

.nav_menu a:hover {
    background-color: white;
    color: darkgrey;
    transition-duration: 0.2s
}

.nav_menu a.nav_page {
    background-color: white;
    color: #041E42;
}

.nav_items:hover {
    background-color: white;
}

.noticeText {
    font-size: 20px;
    color: #041E42;
    font-family: Roboto-Slab, serif;
    text-align: center;
    padding: 5px;
}

.Content {
    /* position: relative; */
    z-index: 1;
}
  
.Content:after {
    content: '';
    clear: both;
    display: block;
}
  
.Wrapper {
    position: absolute;
    width: 100%;
    height: 60%;
}
  
.Wrapper>div {
    height: 100%;
}

.LeftContent {
    background-color: white;
    overflow: auto;
    border-style: solid;
    border-color: #041E42;
}

.RightContent {
    background-color: white;
    float: right;
    margin-left: 10px;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: #041E42;
}

body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.btn {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 40px;
    margin: 10px;
    grid-auto-rows: auto;
    display: grid;
    width: 50%;
  }