body {
    font-family: Roboto-Slab, serif;
    margin: 0;
}

#container {
    display: grid;
    grid-gap: 5px;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    background-color: white;
    padding: 10px;
}

#container > div {
    background-color: white;
    padding: 5px;
}

.PSU {
    padding: 20px;
    background: #041E42;
    color: white;
}

#psuShield {
    padding-right: 20px;
}
#psuText {
    font-size: 30px;
}
#pageText {
    font-size: 30px;
    color: #041E42;
    font-family: Roboto-Slab, serif;
    text-align: center;
    padding: 20px;
}

#navsec {
    background-color: #041E42;
    border-style: solid;
    border-color: white;
}

.nav_menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #041E42;
    text-decoration: none;
    padding: 12px;
}

.nav_menu a {
    display: block;
    font-family: Roboto-Slab, serif;
    background-color: #041E42;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: large;
    text-decoration: none;
}

.nav_menu a:hover {
    background-color: white;
    color: darkgrey;
    transition-duration: 0.2s
}

.nav_menu a.nav_page {
    background-color: white;
    color: #041E42;
}

.nav_items:hover {
    background-color: white;
}
